In [1]:
import pandas as pd
import numpy as np

In [2]:
PATH = '../data/raw/stack-overflow-developer-survey-2023/survey_results_public.csv'
EXPORT_PATH = '../data/processed/processed_data.pkl'

In [3]:
df = pd.read_csv(PATH)
df.shape

(89184, 84)

In [4]:
df.columns

Index(['ResponseId', 'Q120', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'TechList', 'BuyNewTool', 'Country',
       'Currency', 'CompTotal', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysPersonal use',
       'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith',
       'OfficeStackAsyncWantToWorkWith', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'AISearchHaveWorkedWith',
       'AISearchWantToWorkWith', 'AIDevHaveWorkedWith', 'AIDevWantToWorkWith',
       'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm',
       'SOAI', 'AISelect', 'AISent', 'AIAcc', 'AIBen',
       'AIToolInterested in Using', 'AIToolCurrently Using',
       'AIToolNot interested in Using', 'AINextVery different',
       'AINextNeither different nor similar', 'AINextSomewhat similar',
       'AINextVery similar', 'AINextSomewhat different', 'TBranch', 'ICorPM',
       'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8',
       'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching',
       'TimeAnswering', 'ProfessionalTech', 'Industry', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

### Removing non professional coders and vague roles

In [5]:
df = df[~df['MainBranch'].isin(['I am learning to code', 'I code primarily as a hobby', 'None of these'])]
df.shape

(78052, 84)

In [6]:
df['DevType'].unique()

array(['Senior Executive (C-Suite, VP, etc.)', 'Developer, back-end',
       'Developer, front-end', 'Developer, full-stack',
       'System administrator',
       'Developer, desktop or enterprise applications',
       'Developer, QA or test', 'Designer',
       'Data scientist or machine learning specialist',
       'Data or business analyst', 'Security professional',
       'Research & Development role', 'Other (please specify):',
       'Developer, mobile', nan, 'Database administrator',
       'Developer, embedded applications or devices', 'Student',
       'Engineer, data', 'Hardware Engineer', 'Product manager',
       'Academic researcher', 'Developer, game or graphics',
       'Cloud infrastructure engineer', 'Engineering manager',
       'Developer Experience', 'Project manager', 'DevOps specialist',
       'Engineer, site reliability', 'Blockchain', 'Developer Advocate',
       'Educator', 'Scientist', 'Marketing or sales professional'],
      dtype=object)

In [7]:
df = df[~df['DevType'].isin([np.nan, 'Senior Executive (C-Suite, VP, etc.)', 'Student', 'Other (please specify):', 'Marketing or sales professional', 'Educator', 'Designer', 'Product manager', 'Engineering manager', 'Developer Experience', 'Project manager', 'Developer Advocate'])]
df['DevType'].unique()
df.shape

(64338, 84)

In [8]:
df.groupby(['EdLevel'])['EdLevel'].count().sort_values(ascending=False) # use it in correlation with devtype

EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          29810
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       16742
Some college/university study without earning a degree                                 7889
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     3496
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         3020
Associate degree (A.A., A.S., etc.)                                                    2162
Something else                                                                          791
Primary/elementary school                                                               428
Name: EdLevel, dtype: int64

### Filtering relevant columns

In [9]:
columns = ['MainBranch', 'EdLevel', 'YearsCode',
           'YearsCodePro', 'DevType', 'Country', 'LanguageHaveWorkedWith',
           'DatabaseHaveWorkedWith', 'PlatformHaveWorkedWith',
           'WebframeHaveWorkedWith', 'MiscTechHaveWorkedWith',
           'ToolsTechHaveWorkedWith',  'NEWCollabToolsHaveWorkedWith',
       ]

In [10]:
df = df[columns]

In [11]:
df.columns = ['MainBranch', 'EdLevel', 'YearsCode',
           'YearsCodePro', 'DevType', 'Country', 'Language',
           'Database', 'Platform',
           'Web Framework', 'Miscellaneous Tech',
           'Developer Tools',  'NEWCollabTools',
       ]

In [12]:
df

,MainBranch,EdLevel,YearsCode,YearsCodePro,DevType,Country,Language,Database,Platform,Web Framework,Miscellaneous Tech,Developer Tools,NEWCollabTools
2,I am a developer by profession,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",27,23,"Developer, back-end",United States of America,Bash/Shell (all shells);Go,NaN,Amazon Web Services (AWS);Google Cloud;OpenSta...,NaN,NaN,Cargo;Docker;Kubernetes;Make;Nix,Emacs;Helix
3,I am a developer by profession,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,7,"Developer, front-end",United States of America,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,PostgreSQL;Redis,Cloudflare;Heroku,Node.js;React;Ruby on Rails;Vue.js;WordPress,NaN,Homebrew;npm;Vite;Webpack;Yarn,IntelliJ IDEA;Vim;Visual Studio Code;WebStorm
4,I am a developer by profession,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",6,4,"Developer, full-stack",Philippines,HTML/CSS;JavaScript;TypeScript,BigQuery;Elasticsearch;MongoDB;PostgreSQL,Amazon Web Services (AWS);Firebase;Heroku;Netl...,Express;Gatsby;NestJS;Next.js;Node.js;React,NaN,Docker;npm;Webpack;Yarn,Vim;Visual Studio Code
5,I am a developer by profession,Some college/university study without earning ...,21,21,"Developer, back-end",United Kingdom of Great Britain and Northern I...,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,BigQuery;Cloud Firestore;PostgreSQL;Redis,Amazon Web Services (AWS);Cloudflare;Google Cloud,Angular;Express;NestJS;Node.js,NaN,Docker;Homebrew;Kubernetes;npm;pnpm;Terraform,Helix;Neovim
6,I am a developer by profession,Some college/university study without earning ...,4,3,"Developer, full-stack",United States of America,Ada;Clojure;Elixir;Go;HTML/CSS;Java;JavaScript...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Amazon Web Services (AWS);Digital Ocean,AngularJS;jQuery;Node.js;Phoenix;Ruby on Rails...,RabbitMQ;Spring Framework,Bun;Cargo;Chocolatey;Docker;Homebrew;Kubernete...,Emacs;IntelliJ IDEA;RubyMine;Visual Studio Cod...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89178,I am a developer by profession,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",25,22,"Developer, full-stack",United States of America,JavaScript;TypeScript,Dynamodb,Amazon Web Services (AWS),Express;Node.js;Spring Boot,Apache Kafka,Docker;Homebrew;Yarn,IntelliJ IDEA;Nano;Visual Studio Code
89179,I am a developer by profession,"Associate degree (A.A., A.S., etc.)",20,5,"Developer, front-end",Brazil,HTML/CSS;Java;JavaScript;SQL;TypeScript,MongoDB;MySQL;PostgreSQL;SQLite,Digital Ocean;Firebase;Google Cloud;Heroku;Vercel,Angular;AngularJS;Express;jQuery;Node.js;Nuxt....,Flutter,Chocolatey;CMake;Docker;Maven (build tool);npm...,Android Studio;Atom;Eclipse;IntelliJ IDEA;Netb...
89180,I am a developer by profession,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5,NaN,"Developer, back-end",Romania,Dart;Java;Python;SQL,PostgreSQL,NaN,Spring Boot,Flutter;Opencv;RabbitMQ;Spring Framework;Torch...,Maven (build tool);Pip,Android Studio;IntelliJ IDEA;PyCharm
89182,I am a developer by profession,"Secondary school (e.g. American high school, G...",3,NaN,System administrator,Switzerland,Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Red...,Amazon Web Services (AWS);Cloudflare;Google Cl...,Express;Next.js;Node.js;React;WordPress,CUDA;NumPy;Torch/PyTorch,Docker;Kubernetes;npm;Podman;Vite,Eclipse;IntelliJ IDEA;Nano;Notepad++;PyCharm;V...
89183,I am a developer by profession,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",17,12,"Developer, full-stack","Iran, Islamic Republic of...",C#;Go;JavaScript;SQL;TypeScript,Microsoft SQL Server;Redis;SQLite,Hetzner,Angular;ASP.NET;ASP.NET CORE;Blazor;Node.js,.NET (5+) ;.NET Framework (1.0 - 4.8),Docker;npm;NuGet;pnpm;Vite;Webpack;Yarn,Visual Studio;Visual Studio Code

### cleaning years code pro column and filling missing values

In [13]:
df['YearsCodePro'] = df['YearsCodePro'].replace({'Less than 1 year': 0, 'More than 50 years': 51})
df['YearsCodePro'].unique()
filtered_df = df[df['YearsCodePro'].isna()][['YearsCodePro', 'YearsCode']]
filtered_df

      YearsCodePro YearsCode
9              NaN         6
49             NaN        15
67             NaN        10
69             NaN         8
90             NaN         6
...            ...       ...
89121          NaN         4
89129          NaN        20
89173          NaN        20
89180          NaN         5
89182          NaN         3

[6316 rows x 2 columns]

In [14]:
df['YearsCodePro'] = df['YearsCodePro'].fillna(df['YearsCode'])
df[df['YearsCodePro'].isna()][['YearsCodePro', 'YearsCode']].shape
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')
df['YearsCodePro'] = df['YearsCodePro'].fillna(df['YearsCodePro'].mean())

### Split columns with multiple answers

In [15]:
# select columns that have semicolon-separated strings
cols_to_split = ['DevType', 'Language', 'Database', 'Platform', 'Web Framework', 'Miscellaneous Tech', 'Developer Tools', 'NEWCollabTools']

In [16]:
for col in cols_to_split:
    df[col] = df[col].fillna("")
    df[col] = [item.split(';') if item else [] for item in df[col]]

In [17]:
df.reset_index(inplace=True, drop=True)

In [18]:
df.to_pickle(EXPORT_PATH)