In [113]:
import pandas as pd
import numpy as np

In [114]:
PATH = '../data/raw/stack-overflow-developer-survey-2023/survey_results_public.csv'
EXPORT_PATH = '../data/processed/processed_data.pkl'

In [115]:
df = pd.read_csv(PATH)
df.shape

(89184, 84)

In [116]:
df = df.set_index('ResponseId')

In [117]:
df.columns

Index(['Q120', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'TechList', 'BuyNewTool', 'Country',
       'Currency', 'CompTotal', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysPersonal use',
       'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith',
       'OfficeStackAsyncWantToWorkWith', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'AISearchHaveWorkedWith',
       'AISearchWantToWorkWith', 'AIDevHaveWorkedWith', 'AIDevWantToWorkWith',
       'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm',
       'SOAI', 'AISelect', 'AISent', 'AIAcc', 'AIBen',
       'AIToolInterested in Using', 'AIToolCurrently Using',
       'AIToolNot interested in Using', 'AINextVery different',
       'AINextNeither different nor similar', 'AINextSomewhat similar',
       'AINextVery similar', 'AINextSomewhat different', 'TBranch', 'ICorPM',
       'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8',
       'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching',
       'TimeAnswering', 'ProfessionalTech', 'Industry', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [118]:
df = df[~df['MainBranch'].isin(['I am learning to code', 'I code primarily as a hobby', 'None of these'])]
df.shape

(78052, 83)

In [119]:
df['DevType'].unique()

array(['Senior Executive (C-Suite, VP, etc.)', 'Developer, back-end',
       'Developer, front-end', 'Developer, full-stack',
       'System administrator',
       'Developer, desktop or enterprise applications',
       'Developer, QA or test', 'Designer',
       'Data scientist or machine learning specialist',
       'Data or business analyst', 'Security professional',
       'Research & Development role', 'Other (please specify):',
       'Developer, mobile', nan, 'Database administrator',
       'Developer, embedded applications or devices', 'Student',
       'Engineer, data', 'Hardware Engineer', 'Product manager',
       'Academic researcher', 'Developer, game or graphics',
       'Cloud infrastructure engineer', 'Engineering manager',
       'Developer Experience', 'Project manager', 'DevOps specialist',
       'Engineer, site reliability', 'Blockchain', 'Developer Advocate',
       'Educator', 'Scientist', 'Marketing or sales professional'],
      dtype=object)

In [120]:
df = df[~df['DevType'].isin([np.nan, 'Senior Executive (C-Suite, VP, etc.)', 'Student', 'Other (please specify):', 'Marketing or sales professional', 'Educator', 'Designer', 'Product manager', 'Engineering manager', 'Developer Experience', 'Project manager', 'Developer Advocate'])]
df['DevType'].unique()
df.shape

(64338, 83)

In [121]:
df.groupby(['EdLevel'])['EdLevel'].count().sort_values(ascending=False) # use it in correlation with devtype

EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          29810
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       16742
Some college/university study without earning a degree                                 7889
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     3496
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         3020
Associate degree (A.A., A.S., etc.)                                                    2162
Something else                                                                          791
Primary/elementary school                                                               428
Name: EdLevel, dtype: int64

In [122]:
columns = ['MainBranch', 'EdLevel', 'YearsCode',
           'YearsCodePro', 'DevType', 'Country', 'LanguageHaveWorkedWith',
           'DatabaseHaveWorkedWith', 'PlatformHaveWorkedWith',
           'WebframeHaveWorkedWith', 'MiscTechHaveWorkedWith',
           'ToolsTechHaveWorkedWith',  'NEWCollabToolsHaveWorkedWith',
       ]

In [123]:
df = df[columns]

In [124]:
df.columns = ['MainBranch', 'EdLevel', 'YearsCode',
           'YearsCodePro', 'DevType', 'Country', 'Language',
           'Database', 'Platform',
           'Webframe', 'MiscTech',
           'DeveloperTools',  'NEWCollabTools',
       ]

In [132]:
df

,ResponseId,MainBranch,EdLevel,YearsCode,YearsCodePro,DevType,Country,Language,Database,Platform,Webframe,MiscTech,DeveloperTools,NEWCollabTools
0,3,I am a developer by profession,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",27,23.0,"[Developer, back-end]",United States of America,"[Bash/Shell (all shells), Go]",[],"[Amazon Web Services (AWS), Google Cloud, Open...",[],[],"[Cargo, Docker, Kubernetes, Make, Nix]","[Emacs, Helix]"
1,4,I am a developer by profession,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",12,7.0,"[Developer, front-end]",United States of America,"[Bash/Shell (all shells), HTML/CSS, JavaScript...","[PostgreSQL, Redis]","[Cloudflare, Heroku]","[Node.js, React, Ruby on Rails, Vue.js, WordPr...",[],"[Homebrew, npm, Vite, Webpack, Yarn]","[IntelliJ IDEA, Vim, Visual Studio Code, WebSt..."
2,5,I am a developer by profession,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",6,4.0,"[Developer, full-stack]",Philippines,"[HTML/CSS, JavaScript, TypeScript]","[BigQuery, Elasticsearch, MongoDB, PostgreSQL]","[Amazon Web Services (AWS), Firebase, Heroku, ...","[Express, Gatsby, NestJS, Next.js, Node.js, Re...",[],"[Docker, npm, Webpack, Yarn]","[Vim, Visual Studio Code]"
3,6,I am a developer by profession,Some college/university study without earning ...,21,21.0,"[Developer, back-end]",United Kingdom of Great Britain and Northern I...,"[Bash/Shell (all shells), HTML/CSS, JavaScript...","[BigQuery, Cloud Firestore, PostgreSQL, Redis]","[Amazon Web Services (AWS), Cloudflare, Google...","[Angular, Express, NestJS, Node.js]",[],"[Docker, Homebrew, Kubernetes, npm, pnpm, Terr...","[Helix, Neovim]"
4,7,I am a developer by profession,Some college/university study without earning ...,4,3.0,"[Developer, full-stack]",United States of America,"[Ada, Clojure, Elixir, Go, HTML/CSS, Java, Jav...","[MariaDB, Microsoft SQL Server, MySQL, Postgre...","[Amazon Web Services (AWS), Digital Ocean]","[AngularJS, jQuery, Node.js, Phoenix, Ruby on ...","[RabbitMQ, Spring Framework]","[Bun, Cargo, Chocolatey, Docker, Homebrew, Kub...","[Emacs, IntelliJ IDEA, RubyMine, Visual Studio..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64333,89179,I am a developer by profession,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",25,22.0,"[Developer, full-stack]",United States of America,"[JavaScript, TypeScript]",[Dynamodb],[Amazon Web Services (AWS)],"[Express, Node.js, Spring Boot]",[Apache Kafka],"[Docker, Homebrew, Yarn]","[IntelliJ IDEA, Nano, Visual Studio Code]"
64334,89180,I am a developer by profession,"Associate degree (A.A., A.S., etc.)",20,5.0,"[Developer, front-end]",Brazil,"[HTML/CSS, Java, JavaScript, SQL, TypeScript]","[MongoDB, MySQL, PostgreSQL, SQLite]","[Digital Ocean, Firebase, Google Cloud, Heroku...","[Angular, AngularJS, Express, jQuery, Node.js,...",[Flutter],"[Chocolatey, CMake, Docker, Maven (build tool)...","[Android Studio, Atom, Eclipse, IntelliJ IDEA,..."
64335,89181,I am a developer by profession,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5,5.0,"[Developer, back-end]",Romania,"[Dart, Java, Python, SQL]",[PostgreSQL],[],[Spring Boot],"[Flutter, Opencv, RabbitMQ, Spring Framework, ...","[Maven (build tool), Pip]","[Android Studio, IntelliJ IDEA, PyCharm]"
64336,89183,I am a developer by profession,"Secondary school (e.g. American high school, G...",3,3.0,[System administrator],Switzerland,"[Bash/Shell (all shells), C#, HTML/CSS, Java, ...","[MariaDB, Microsoft SQL Server, MongoDB, MySQL...","[Amazon Web Services (AWS), Cloudflare, Google...","[Express, Next.js, Node.js, React, WordPress]","[CUDA, NumPy, Torch/PyTorch]","[Docker, Kubernetes, npm, Podman, Vite]","[Eclipse, IntelliJ IDEA, Nano, Notepad++, PyCh..."
64337,89184,I am a developer by profession,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",17,12.0,"[Developer, full-stack]","Iran, Islamic Republic of...","[C#, Go, JavaScript, SQL, TypeScript]","[Microsoft SQL Server, Redis, SQLite]",[Hetzner],"[Angular, ASP.NET, ASP.NET CORE, Blazor, Node.js]","[.NET (5+) , .NET Framework (1.0 - 4.8)]","[Docker, npm, NuGet, pnpm, Vite, Webpack, Yarn]","[Visual Studio, Visual Studio Code]"

In [126]:
df['YearsCodePro'] = df['YearsCodePro'].replace({'Less than 1 year': 0, 'More than 50 years': 51})
df['YearsCodePro'].unique()
filtered_df = df[df['YearsCodePro'].isna()][['YearsCodePro', 'YearsCode']]
filtered_df

           YearsCodePro YearsCode
ResponseId
10                  NaN         6
50                  NaN        15
68                  NaN        10
70                  NaN         8
91                  NaN         6
...                 ...       ...
89122               NaN         4
89130               NaN        20
89174               NaN        20
89181               NaN         5
89183               NaN         3

[6316 rows x 2 columns]

In [127]:
df['YearsCodePro'] = df['YearsCodePro'].fillna(df['YearsCode'])
df[df['YearsCodePro'].isna()][['YearsCodePro', 'YearsCode']].shape
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')
df['YearsCodePro'] = df['YearsCodePro'].fillna(df['YearsCodePro'].mean())

In [128]:
# select columns that have semicolon-separated strings
cols_to_split = ['DevType', 'Language', 'Database', 'Platform', 'Webframe', 'MiscTech', 'DeveloperTools', 'NEWCollabTools']

In [129]:
for col in cols_to_split:
    df[col] = df[col].fillna("")
    df[col] = [item.split(';') if item else [] for item in df[col]]

In [130]:
df.reset_index(inplace=True)

In [131]:
df.to_pickle(EXPORT_PATH)